.weather-app-wrapper {
  max-width: 780px;
  margin: 30px auto;
}
.weather-app {
  font-family: "Raleway", sans-serif;
  border: 1px solid #ffd29e;
  border-radius: 4px;
  padding: 20px;
}

h1 {
  color: #ffd29e;
  line-height: 28px;
  padding: 20px 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.date {
  padding-top: 20px;
}

img {
  width: 100px;
  padding: 10px;
}
.degrees {
  font-size: 42px;
}
.units {
  position: relative;
  top: -12px;
}

.active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: rgb(33, 33, 33);
}

.search-button {
  color: #ffd29e;
  border: 1px solid #ffd29e;
  background-color: transparent;
  padding: 6px 12px;
  border-radius: 0.25rem;
  transition: all 1s ease-in-out;
}

.search-button:hover {
  color: #ffffff;
  background-color: #ffd29e;
  transition: all 1s ease-in-out;
}

.weather-forecast {
  text-align: center;
  margin-top: 20px;
}

.weather-forecast-date {
  color: #ffd29e;
}

.forecast-min {
  color: #c8c8c8;
}

.form-control {
  border: 1px solid #ffd29e;
}
