.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  font-family: "Raleway", sans-serif;
  border: 1px solid #f0eeec;
  border-radius: 4px;
  padding: 0px;
}

h1 {
  color: #ffd29e;
  line-height: 28px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  width: 100px;
  padding: 10px;
}
.degrees {
  font-size: 42px;
}
.units {
  position: relative;
  top: -12px;
}

.active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: rgb(33, 33, 33);
}

.search-button {
  color: #ffd29e;
  border: 1px solid #ffd29e;
  background-color: transparent;
}

.search-button:hover {
  border-radius: 10px;
}

.weather-forecast {
  text-align: center;
  margin-top: 20px;
}

.weather-forecast-date {
  color: #ffd29e;
}
